body {

    background: #f2f2f2;
    font-family: Arial;

}

.container {

    width: 65%;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;

}

h1 {

    text-align: center;
    color: #007BFF;

}

form {

    display: flex;
    flex-direction: column;

}

input, select {

    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid gray;

}

button {

    padding: 12px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {

    background: #0056b3;

}

.result {

    margin-top: 20px;

}

.day {

    background: #f8f8f8;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    border-left: 5px solid #007BFF;

}

ul {

    padding-left: 20px;

}

li {

    margin: 5px 0;

}