<!DOCTYPE html>
<html>

<head>

<title>Smart Travel Planner</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Smart Travel Itinerary Planner</h1>

<form method="POST">

<input type="text"
name="destination"
placeholder="Enter Destination"
required>

<input type="number"
name="days"
placeholder="Number of Days"
required>

<input type="number"
name="people"
placeholder="Number of People"
required>

<select name="budget" required>

<option value="Low">Low Budget</option>

<option value="Medium">Medium Budget</option>

<option value="High">High Budget</option>

</select>

<button type="submit">
Generate Smart Plan
</button>

</form>

{% if itinerary %}

<div class="result">

<h2>🏨 Recommended Hotel</h2>

<p>{{ hotel }}</p>

<h2>💰 Estimated Budget</h2>

<p>₹ {{ total_price }}</p>

<h2>🍴 Food Recommendations</h2>

<ul>

{% for food in foods %}

<li>{{ food }}</li>

{% endfor %}

</ul>

<h2>🎉 Fun Activities</h2>

<ul>

{% for activity in activities %}

<li>{{ activity }}</li>

{% endfor %}

</ul>

<h2>📍 Day-wise Itinerary</h2>

{% for day in itinerary %}

<div class="day">

<h3>Day {{ loop.index }}</h3>

<ul>

{% for place in day %}

<li>{{ place }}</li>

{% endfor %}

</ul>

</div>

{% endfor %}

</div>

{% endif %}

</div>

</body>

</html>